In [1]:
import os

import pandas as pd
import pickle

import requests
from pymongo import MongoClient

## Conenct to MongoDB

In [2]:
client = MongoClient()

In [3]:
db = client.spotify

In [4]:
db.list_collection_names()

['artists', 'albums', 'track_features', 'tracks']

## Get artists for which we have track features

In [16]:
cursor = db.tracks.find({}, 
    {'_id':0, 'artist_name':1, })
df = pd.DataFrame(list(cursor))
df.head()

                         artist_name
0  Suburban Kids With Biblical Names
1  Suburban Kids With Biblical Names
2  Suburban Kids With Biblical Names
3  Suburban Kids With Biblical Names
4  Suburban Kids With Biblical Names

## Removing non-queried artists

In [10]:
returned_artists = df.artist_name.unique().tolist()

In [11]:
pickle_in = open('../Data/indie_pop_artists','rb')
queried_artists = pickle.load(pickle_in)
pickle_in.close()

In [12]:
print(len(queried_artists))
print(len(returned_artists))
print(len(set(queried_artists).intersection(set(returned_artists))))

716
714
539

In [13]:
artists = list(set(queried_artists).intersection(set(returned_artists)))

In [14]:
artists[:5]

['The Essex Green',
 'FKA twigs',
 'The Margarets',
 'Los Planetas',
 'Hayley Kiyoko']

## Save artists to pickle

In [17]:
pickle_out = open('../Data/artists_to_query_genius','wb')
pickle.dump(artists, pickle_out)
pickle_out.close()